:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #ff0000;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

@font-face {
  font-family: AvenirRoman;
  src: url(../font/Avenir-roman.ttf);
}

@font-face {
  font-family: AvenirMedium;
  src: url(../font/Avenir-medium.ttf);
}

@font-face {
  font-family: AvenirBlack;
  src: url(../font/Avenir\ -black.ttf);
}

/* general ejs styling */

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
  font-family: AvenirMedium;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

main {
  padding: 2em 0 0 6em;
  
}

@media (width > 80em) {
  main {
    padding: 1em 0 0 10em;
  }
}

h1,
h2,
h3,
p {
  color: var(--text-color);
}

div,
img,
article {
  border-radius: 6px;
}

/* index.ejs */
.index article {
  width: 98%;
}

.index ul h2 {
  text-align: center;
}

.index ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  justify-content: flex-end;
}

.index ul li img {
  width: 30%;
}

@media (width > 80em) {

  .index ul {
    overflow: auto;
    display: flex;
    gap: 2em;
    scrollbar-color: red transparent;
    scrollbar-width: thin;
  }

  .index ul h3{
    height: -webkit-fill-available;
  }

  .index ul li img{
    width: 300px;
    height: 400px;
    object-fit: cover;
  }
}


/* family.ejs */

.family {
  padding: 2em 2em 0 7em;
  display: block;
}

.family div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: solid var(--primary-color);
  padding: 2em;
  margin-bottom: 2em;
}

.family div h2 {
  margin-bottom: 1em;
}

.family div img {
  width: 175px;
  height: 175px;
  object-fit: cover;
}

@media (width > 56em) {
  .family {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns in the first row */
    grid-template-rows: repeat(2, auto); /* Two rows with automatic height */
    gap: 1em; /* Adjust the gap between items */
  }

  .family div {
    margin-bottom: unset;
  }

  .family div img {
    width: 300px;
    height: 300px;
  }
}

@media (width > 81em) {
  .family {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns in the first row */
    grid-template-rows: repeat(2, auto); /* Two rows with automatic height */
    gap: 1em; /* Adjust the gap between items */
  }
}
@media (width > 130em) {
  .family {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    column-gap: 1em;
    row-gap: 1em;
  }
}

/* detail.ejs */

.detail article {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  position: relative;
}

.detail .detail-img {
  width: 97%;
}

.item-info {
  border: solid var(--primary-color);
  display: flex;
  flex-direction: column;
  width: 97%;
}

.item-info h2 {
  text-align: center;
  color: var(--text-color);
}

.item-info h3 {
  text-align: center;
  color: var(--text-color);
}

.item-info .add{
  border: none;
  background-color: var(--primary-color);
  color: var(--primary-color-light);
  margin: auto;
}

.summary p {
  color: var(--text-color);
}

.item-added {
  position: absolute;
  width: 17em;
  height: 15em;
  z-index: 10;
  background-color: var(--sidebar-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.item-added img{
  width: 5em;
}

.item-added a{
  background-color: var(--body-color);
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 50px;
  padding: 0 2em;
}

.item-added button{
  position: absolute;
  top: 3px;
  right: 3px;
  border: none;
  background-color: transparent;
  font-size: 1em;
  color: var(--primary-color);
}

.closed{
  display: none;
}
@media (width > 70em) {
  .detail article {
    display: grid;
    justify-items: center;
    grid-template-areas:
      "image info"
      "sum sum";
    row-gap: 2em;
  }

  .detail .detail-img {
    grid-area: image;
    width: 500px;
  }

  .item-info {
    grid-area: info;
    width: 500px;
    padding: 0 2em;
  }

  .summary {
    grid-area: sum;
    width: 50%;
    border: solid var(--primary-color);
    padding: 2em;
  }
}

@media (width > 40em) {
}

/* leeslijst.ejs */
.leeslijst article {
  width: 98%;
}

.leeslijst ul h2 {
  text-align: center;
}

.leeslijst ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  justify-content: flex-end;
}

.leeslijst ul li img {
  width: 30%;
}

@media (width > 80em) {

  .leeslijst ul {
    overflow: auto;
    display: flex;
    gap: 2em;
    scrollbar-color: red transparent;
    scrollbar-width: thin;
  }

  .leeslijst ul h3{
    height: -webkit-fill-available;
  }

  .leeslijst ul li img{
    width: 300px;
    height: 400px;
    object-fit: cover;
  }
}